<article>
    <header>
        <h3>..</h3>
        <img src='..' alt='..' />
    </header>
    <section>
        <p>..</p>
    </section>
    <footer>
        <a href='..' title='..'>Lire la suite</a>
    </footer>
</article>