html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face
{
    font-family: 'font';
    src: url('font/GeosansLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'titre';
    src: url('font/source-code-pro-light.otf');
    font-weight: normal;
    font-style: normal;
}




body {
	background-image: url("wallpaper.jpg");
	background-size: cover;
}

.entete{
	font-size : 38px;
	background-color: rgba(10,10,10, 0.8);
	color: rgb(208,120,143);
	padding-top: 32px;
	padding-bottom: 32px;
}

.entete a{font-size : 30px}

header {
	font-size : 32px;
	background-color: rgba(208,120,143, 0.8);
	font-style: 'titre';
	color: rgb(245,216,221);
	text-align: center;
}

a {
	text-transform: none;
	color : #6E0B14;
}

h2 {
	font-size : 25px;
	font-style: 'titre';
	font-weight: bold;
	padding-top: 20px;
}

section {
	font-size: 20px;
	background-color: rgba(245,216,221, 0.8);
	font-style: 'font';
	color: #D0788F;
	padding-left: 12px;
	padding-right: 12px;
}

.tp42 a {
	font-size: 32px;
	text-decoration: none;
}